* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.triggers {
  margin-bottom: 15px;
}

.triggers button {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

#root {
  position: relative;
  min-height: 200px;
}

.post {
  background-color: #bfe7f3;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    word-wrap: break-word;
  overflow-wrap: break-word;
}

.post__title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
   word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.post__body {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  white-space: pre-line;
   word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}


.loader {
  width: 48px;
  height: 48px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}

.loader::after {
  border-color: #ff3d00;
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
